name: run-tests

on:
  push:
    branches:
      - v1
      - main
  pull_request:
    branches:
      - v1
      - main
  schedule:
    - cron: "0 9 1 * *"

jobs:
  single-node:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      max-parallel: 1
      matrix:
        go:
          - "1.19"
          - "1.20"
        clickhouse: # https://github.com/ClickHouse/ClickHouse/blob/master/SECURITY.md#scope-and-supported-versions
          - "22.3"
          - "22.8"
          - "22.12"
          - "23.1"
          - "23.2"
          - "latest"
    steps:
      - uses: actions/checkout@main

      - name: Install Go ${{ matrix.go }}
        uses: actions/setup-go@v2.1.5
        with:
          stable: false
          go-version: ${{ matrix.go }}

      - name: Run tests
        run: |
          CLICKHOUSE_VERSION=${{ matrix.clickhouse }} make test

  integration-tests-cloud:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 1
      fail-fast: true
      matrix:
        go:
          - "1.19"
          - "1.20"
    steps:
      - uses: actions/checkout@main
      - uses: hashicorp/setup-terraform@v2

      - name: Setup Terraform variables
        id: vars
        run: |-
          cat > pipeline.auto.tfvars <<EOF
          token_key = "${{ secrets.INTEGRATIONS_TEAM_TESTS_TOKEN_KEY }}"
          cluster_name = "go-client-test"
          token_secret = "${{ secrets.INTEGRATIONS_TEAM_TESTS_TOKEN_SECRET }}"
          cluster_password = "${{ secrets.INTEGRATIONS_TEAM_TESTS_CLOUD_PASSWORD }}"
          organization_id = "${{ secrets.INTEGRATIONS_TEAM_TESTS_ORGANIZATION_ID }}"
          EOF

      - name: Terraform Init
        id: init
        run: terraform init

      - name: Terraform Validate
        id: validate
        run: terraform validate -no-color

      - name: Terraform Apply
        id: apply
        run: terraform apply -no-color

      - name: Install Go ${{ matrix.go }}
        uses: actions/setup-go@v2.1.5
        with:
          stable: false
          go-version: ${{ matrix.go }}

      - name: Run tests
        env:
          CLICKHOUSE_HOST: ${{ steps.apply.outputs.cluster_host }}
          CLICKHOUSE_PASSWORD: ${{ secrets.INTEGRATIONS_TEAM_TESTS_CLOUD_PASSWORD }}
          CLICKHOUSE_USE_DOCKER: false
          CLICKHOUSE_USE_SSL: true
        run: |
          CLICKHOUSE_DIAL_TIMEOUT=20 CLICKHOUSE_TEST_TIMEOUT=600s CLICKHOUSE_QUORUM_INSERT=3 make test
