name: run-tests

on:
  push:
    branches:
      - v1
      - main
  pull_request:
    branches:
      - v1
      - main
  schedule:
    - cron: "0 9 1 * *"

jobs:
  single-node:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      max-parallel: 1
      matrix:
        go:
          - 1.18
          - 1.19
        clickhouse:
          - 22.3
          - 22.8
          - 22.9
          - '22.10'
          - 22.11
          - latest
    steps:
      - uses: actions/checkout@main

      - name: Install Go ${{ matrix.go }}
        uses: actions/setup-go@v2.1.5
        with:
          stable: false
          go-version: ${{ matrix.go }}

      - name: Run tests
        run: |
          CLICKHOUSE_VERSION=${{ matrix.clickhouse }} make test

  integration-tests-cloud:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 1
      fail-fast: true
      matrix:
        go:
          - 1.18
          - 1.19
    steps:
      - uses: actions/checkout@main

      - name: Install Go ${{ matrix.go }}
        uses: actions/setup-go@v2.1.5
        with:
          stable: false
          go-version: ${{ matrix.go }}

      - name: Run tests
        env:
          CLICKHOUSE_HOST: ${{ secrets.INTEGRATIONS_TEAM_TESTS_CLOUD_HOST }}
          CLICKHOUSE_PASSWORD: ${{ secrets.INTEGRATIONS_TEAM_TESTS_CLOUD_PASSWORD }}
          CLICKHOUSE_USE_DOCKER: false
          CLICKHOUSE_USE_SSL: true
        run: |
          CLICKHOUSE_DIAL_TIMEOUT=20 CLICKHOUSE_TEST_TIMEOUT=600s CLICKHOUSE_QUORUM_INSERT=3 make test
