name: run-tests

on:
  push:
    branches:
      - v2
  pull_request:
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        go:
          - 1.16
          - 1.17
        clickhouse:
          - 21.8.11.4-lts
          - 21.12.3.32-stable
    steps:
      - uses: actions/checkout@v2

      - name: Set up ClickHouse cache
        uses: actions/cache@v2.1.7
        with:
          path: /opt/ch/clickhouse
          key: ClickHouse-${{ matrix.clickhouse }}

      - name: Check ClickHouse
        id: "ch_exists"
        uses: andstor/file-existence-action@v1
        with:
          files: /opt/ch/clickhouse

      - name: Get ClickHouse asset version
        id: asset
        run: echo "::set-output name=version::$(echo '${{ matrix.clickhouse }}' | cut -f1 -d'-')"

      - name: Download ClickHouse
        if: steps.ch_exists.outputs.files_exists != 'true'
        run: wget -O /tmp/static.tgz "https://github.com/ClickHouse/ClickHouse/releases/download/v${{ matrix.clickhouse }}/clickhouse-common-static-${{ steps.asset.outputs.version }}.tgz"

      - name: Install ClickHouse
        if: steps.ch_exists.outputs.files_exists != 'true'
        run: mkdir /opt/ch && tar -C /opt/ch -v --strip-components 4 --extract --file /tmp/static.tgz --wildcards "*/bin/clickhouse" && rm /tmp/static.tgz

      - name: Install Go ${{ matrix.go }}
        uses: actions/setup-go@v2.1.5
        with:
          go-version: ${{ matrix.go }}

      - name: Get Go environment
        id: go-env
        run: |
          echo "::set-output name=cache::$(go env GOCACHE)"
          echo "::set-output name=modcache::$(go env GOMODCACHE)"

      - name: Set up cache
        uses: actions/cache@v2.1.7
        with:
          path: |
            ${{ steps.go-env.outputs.cache }}
            ${{ steps.go-env.outputs.modcache }}
          key: clickhouse-go-${{ runner.os }}-run-tests-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            test-${{ runner.os }}-go-

      - name: Run tests
        run: go test -v ./...
